header 
    nav 
        ul 
            li 
                a(href="/todos") Todos
            li 
                a(href="/todos/new") New todo
            li 
                a(href="/users") Show profile
            li 
                a(href="/users/logout") Log out