extends layout

block content
  div.login-wrapper.frontpage
    h1
      img(src="/img/logowtext.svg", alt="Todo app", style="width:100%;padding:20px;")
    a(href="/users/login").cta LOG IN
    p or
    a(href="/users/register") Register