/* good old reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Define variables */
:root{
    /* Colors */
    --main-color: #0D495C;
    --accent-1-color: #477A8E;
    --accent-2-color: #C5F8FF;
    --secondary-color: #F39530;
    --secondary-color-light: #FFD6AA;
    --dark-color: #0F1315;
    --light-grey-color: #0F1315;

    /* Fonts */
    --font-fam-1: 'Oswald', sans-serif;
    --font-fam-2: 'Source Sans Pro', sans-serif;

    /* Paddings */

    --padding-xs: 0.25em;
    --padding-sm: 0.5em;
    --padding-md: 0.75em;
    --padding-lg: 1.0em;
    
    /* rounded */
    --default-radius: 5px;
}

/* Fonts */
p, label, a, button{
    font-family: var(--font-fam-2);
}
h1, h2, h3, h4{
    font-family: var(--font-fam-1);
}
/* links */
a{
    color: var(--secondary-color);
}
a:hover, a:focus{
    color: var(--secondary-color-light);
}
/* Body */
body{
    background:var(--main-color);
    box-shadow: inset 0px 0px 100px 63px rgba(0, 0, 0, 0.25);
    color:var(--accent-2-color);
}
/* navigation */
header nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:5px;
    flex-wrap: wrap;
}
header nav a{
    text-decoration: none;
    padding: 12px;
    display:inline-block;
}
header nav a:hover{
    text-decoration: underline;
}
header > nav > .col-left{
    display: flex;
    align-items: center;
}
/* Forms */
.form-group{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin:7px 0;
}

.form-todo{
    width:clamp(20rem, 50%, 25rem);
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    gap:10px;
    margin:0 auto;
    font-family: var(--font-fam-2);
}
.form input,
.form option,
.form select,
.form textarea{
    font-family: var(--font-fam-2);
    font-size: 1.25rem;
}
.form-todo textarea{
    padding:7px 10px;
    height: 7rem;
    resize: vertical;
    overflow: auto;
    border-radius: var(--padding-sm);
}
.form-todo option,
.form-todo select{
    padding:7px 10px;
}
.form-user{
    padding:10px;
    width: clamp(20rem, 50%, 25rem);
}
.form-user h1{
    text-align: center;
    border-bottom: 1px solid silver;
    padding:10px 0;
}
/* Inputs */
form input{
    padding: var(--padding-sm) var(--padding-sm);
    border-radius: var(--default-radius);
    border-style:solid;
    border-width: 1px;
}
/* Buttons */
.form-user button,
.form-todo button{
    padding: 15px 0;
    color: var(--accent-2-color);
    background-color: var(--main-color);
    border-color: var(--accent-2-color);
    border-radius: var(--default-radius);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    font-size: 1.25rem;
}
.form-todo button:hover,
.form-user button:hover{
    color: var(--main-color);
    background-color: var(--accent-2-color);
}
/* Register and login forms*/
/* containers */
.login-wrapper{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    min-height:100vh;
    padding:0 25px;
}
.cta{
    border-radius: var(--default-radius);
    padding:10px 15px;
    background:var(--secondary-color);
    color:var(--accent-2-color);
    text-decoration: none;
}
.cta:hover{
    background:var(--accent-2-color);
    color:var(--secondary-color);
}
.frontpage h1{
    font-size: 6rem;
    text-transform: uppercase;
}
.frontpage h3{
    font-size: 3rem;
    margin-bottom:1rem;
}

/* To lists */
.todolist{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.todos-overview{
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    grid-column-gap: 10px;
}
.todo-small{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    background-color: var(--accent-2-color);
    color: var(--dark-color);
    padding:7px;
    border-radius: var(--default-radius);
}
.todo-small > :first-child{
    flex-grow:1;
}