extends ../layout
block content
    h1 Users todos 
    h2 List of all the user have created
    a(href="/todos/new") Create new todo

    if(locals.todos)
        each todo in todos 
            p=todo.title
