extends ../layout
block content
    header 
        p username 
        button sign out
    section 
        h1 Users todos 
        a(href="/todos/new") create new to do
    section 
        h2 List of all the user have created
        