extends ../layout
block content
    div.wrapper
        include ../includes/_usermenu
        h1 Users todos 
        h2 List of all the user have created

        if(locals.todos)
            each todo in todos 
                .todo-small
                    h3=todo.title
                    h3=todo.startDate.toLocaleString()
                    h3=todo.deadline.toLocaleString()
                    if(!todo.done)
                        h3 Not done
                    else 
                        h3 Done

                            

